@import url('/components/maincontainer/maincontainer.css');
@import url('/components/toast/toast.css');
@import url('/components/responsecontainer/ResponseContainer.css');
@import url('/components/successcontainer/Successcontainer.css');

@font-face {
    font-family: 'Roboto-Medium';
    src: url('assets/fonts/Roboto-Medium.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('assets/fonts/Roboto-Bold.ttf') format('truetype'); 
    font-weight: Bold;
    font-style: normal;
}
:root{
    --main: #ed1c24;
    --secondary:#950006;
    --tertiary: #ff4f55;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f3f3f3;
}
body p, body h1{
    color:black;
} 

.logo{
    text-align: center;
    width: 100%;
}

.logo img{
    margin: 1%;
    max-width: 150px;
}

.hidden{
    display: none;
}

@media only screen and (max-width: 600px){
    .logo img{
        width: -webkit-fill-available;
    }
}
.wrapperLeft .bodyWrapper a{
    text-decoration: none;
    color:black;
    transition: all 0.4s ease-in-out;
}
.wrapperLeft .bodyWrapper a:hover{
    color:var(--main);
}