#successContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 9999; 
}

.successWrapperHeader{
    display: flex;
    justify-content: center;
}
.successWrapperHeader img{
    width: 65px;
}
.success{
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    max-width: 465px;
    width: 100%;
    text-align: center;
}
.successWrapper{
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#successTitle{
    margin-left: 15px;
}
.successWrapper > div {
    margin-bottom: 10px;
}
