#mainContainer .wrapper {
    min-width: 350px; 
    min-height: 200px;
    max-width: 400px;
    padding: 20px;
    background-color: var(--secondary);
    /*position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;*/
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.288);
    text-align: center;
    border: 1px solid var(--secondary);
}

#mainContainer{
    margin-top: 50px;
}
#maincontainerWrapper{
    display: flex;
    justify-content: center
}

#mainContainer h2{
    color:white;
    font-weight: 400;
    font-size: 18px;
    margin: 0px;
}
#mainContainer .wrapperLeft h2{
    margin-top: 15px;
    color: black;
    font-weight: 700;
}
#mainContainer .wrapperLeft{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#mainContainer .wrapperRight{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px; 
}

#mainContainer img{
    max-width: 65px;
}

#mainContainer .mainTitle{
    font-size: 24px;
    text-align: center;
    font-family: 'Roboto-Bold', sans-serif;
    color: white;
}

.formGroup {
    border-radius: 8px;
    margin-bottom: 15px;
    padding: 5px;
}

.formGroup label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.formGroup input[type='text'],
.formGroup input[type='tel'],
.formGroup input[type='date'],
.formGroup input[type='number'] {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Roboto-Bold', sans-serif;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.288);
    color:grey;
    border: none;
}

.formGroup[data-section='name'] .formGroupNameWrapper{
    display: flex;
    flex-direction: row;   
    justify-content: space-between 
}
.formGroup[data-section='name'] input{
    width: 45%;
}



.formGroup button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    background-color: var(--tertiary); /* Ausgangsfarbe des Buttons */
    transition: background-color 0.4s ease-in-out;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    width: 100%;
}


.formGroup button:hover {
    background-color: var(--main);
}

@media only screen and (max-width: 800px){
    #maincontainerWrapper{
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        align-items: center;
        width: 58%;
    }
    #mainContainer{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .wrapper{
        width: 100%;
    }
    .wrapperRight{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 0px!important;
    }
    .wrapperLeft{
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-left-radius: 0px!important;
    }
    
}