.toastWrapper {
    position: fixed;
    right: 1%;
    bottom: 1%;
    z-index: 9999;
}

.toast {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.toast h2 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

.toast p {
    margin: 5px 0 0;
    font-size: 16px;
}

.falseToast {
    background-color: #dc3545;
}

.trueToast {
    background-color: #28a745;
}